.nav2{margin-right:10px;margin-left:10px;border-radius:30px;border:1px solid rgba(255,255,255,.438);background-color:#fff;background-image:linear-gradient(to right,rgba(0,0,0,.808) 20% ,rgba(12,12,12,.795) 40%)}
.info{padding-top:10px;margin-right:10px;margin-left:10px;height:auto;color:#fff;border:2px solid rgba(0,0,0,.445);border-radius:40px;display:flex;background-color:#000;background:radial-gradient(rgba(117,117,117,.541) 10%,#000 90%);display:flex}
.fl-vl{display:none}
.fl{float:right;margin-top:150px;margin-left:190px;font-size:20px}
.img{float:left;height:390px;width:390px;margin-top:100px;margin-left:-760px;border:10px groove #ff7300;border-radius:30%;border-top-width:0;border-right-width:0;border-left-width:0}
.h1{padding-left:16px;margin-top:30px;color:rgba(255,255,255,.842);text-shadow:5px 5px 5px #0f0f0f}
.vl{margin-top:150px;border-width:2px;border-right-width:2px;border-style:solid;border-radius:50%;border-image:linear-gradient(to bottom,rgba(255,145,0,.829) ,rgba(255,0,212,.596)) 1 100%;height:300px;width:1px;margin-left:220px}
.vl-2{display:block;margin-top:37px;padding-top:45px;border-width:4px;border-right-width:0;border-style:solid;border-radius:0;border-image:linear-gradient(to bottom,rgb(180 255 0 / 83%) ,rgba(255,0,212,.596)) 1 100%;height:91px;width:0rem;margin-left:530px;box-shadow:4px 0 5px #131313}
@media screen and (min-width:100px) and (max-width:250px){
.info{display:block;height:800px}
.img{height:264px;width:267px;margin-top:5px;margin-left:3px}
.vl{display:block;margin-left:181px}
.h1{margin-left:-560px;font-size:30px}
.fl{margin-top:-100px;margin-left:-50px;font-size:14px}
}
@media screen and (min-width:250px) and (max-width:350px){
.info{display:block;height:800px}
.img{height:290px;width:290px;margin-top:5px;margin-left:3px}
.vl{display:block}
.h1{margin-left:-537px;font-size:30px}
.fl{margin-top:-100px;margin-left:-50px;font-size:16px}
}
@media screen and (min-width:350px) and (max-width:400px){
.info{display:block;height:800px}
.img{height:290px;width:290px;margin-top:5px;margin-left:3px}
.vl{display:block;margin-top:394px;border-width:1px;border-top-width:0;border-style:solid;border-radius:0;border-image:linear-gradient(to bottom,rgba(255,145,0,.829) ,rgba(255,0,212,.596)) 1 100%;height:215px;width:14rem;margin-left:45px}
.h1{margin-left:-520px;font-size:30px;width:0}
.fl{margin-top:-255px;margin-left:77px;margin-right:100px;font-size:16px}
}
@media screen and (min-width:400px) and (max-width:430px){
.info{display:block;height:800px}
.img{height:290px;width:290px;margin-top:5px;margin-left:20px}
.vl{display:block;margin-top:394px;border-width:1px;border-top-width:0;border-style:solid;border-radius:0;border-image:linear-gradient(to bottom,rgba(255,145,0,.829) ,rgba(255,0,212,.596)) 1 100%;height:215px;width:14rem;margin-left:45px}
.h1{margin-left:11px;margin-top:-101px;font-size:30px;width:0}
.fl{margin-top:-255px;margin-left:77px;margin-right:100px;font-size:16px}
.fl-vl{margin-left:10px}
.vl-2{display:block;margin-top:37px;padding-top:45px;border-width:4px;border-right-width:0;border-style:solid;border-radius:0;border-image:linear-gradient(to bottom,rgb(180 255 0 / 83%) ,rgba(255,0,212,.596)) 1 100%;height:91px;width:0rem;margin-left:15px;box-shadow:4px 0 5px #131313}
}
@media screen and (min-width:430px) and (max-width:450px){
.info{display:block;height:800px}
.img{height:280px;width:280px;margin-top:30px;margin-left:40px}
.vl{display:block;margin-top:384px;border-width:1px;border-top-width:0;border-style:solid;border-radius:0;border-image:linear-gradient(to bottom,rgba(255,145,0,.829) ,rgba(255,0,212,.596)) 1 100%;height:215px;width:18rem;margin-left:40px}
.h1{margin-left:11px;margin-top:-101px;font-size:30px;width:0}
.fl{margin-top:-235px;margin-left:77px;margin-right:100px;font-size:16px}
.fl-vl{margin-left:10px}
.vl-2{display:block;margin-top:37px;padding-top:45px;border-width:4px;border-right-width:0;border-style:solid;border-radius:0;border-image:linear-gradient(to bottom,rgba(255,145,0,.829) ,rgba(255,0,212,.596)) 1 100%;height:91px;width:0rem;margin-left:15px;box-shadow:4px 0 5px #131313}
}
.body{background-image:linear-gradient(to bottom,#000 1% ,#5c5c5c 100%);height:auto}
.main{margin-left:10px;margin-right:10px;color:#000;border-radius:30px;border-width:2px;border-style:solid;border-top-width:0;border-image:linear-gradient(to bottom,rgba(255,255,255,.062) ,#fff);box-shadow:#000;height:auto;background-image:linear-gradient(to bottom,rgba(0,0,0,.062) 0,#000 100%)}
.box{padding-top:20px;border-radius:20px}
.footer{font-size:18px;margin-top:300px;color:#fff;background-image:radial-gradient(rgba(0,0,0,.637) 1%,rgba(0,0,0,.678) 10%,#000 100%);height:400px}
a.fo{color:#fff;font-size:20px}
a.fo:hover{color:#2c2cee}
.ft-2{padding-top:80px}
::-webkit-scrollbar{width:5px;height:2px}
::-webkit-scrollbar-track{background:#000}
::-webkit-scrollbar-thumb{position:fixed;width:5px;height:1px;background:linear-gradient(to top,#008aff,#00ffe7);border-radius:50px}
.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link{color:rgb(255 ,255 ,255)}
.navbar-light .navbar-nav .nav-link{color:#fff}
.navbar-light .navbar-brand{color:#fff}
.form{color:#fff;padding:10px;padding-left:315px}
.sub{margin-left:245px;margin-top:20px;width:200px}
.in{padding-top:5px;width:700px;height:60px}
.lbl{padding-top:10px}
.op{margin-top:10px}
@media screen and (min-width:200px) and (max-width:250px){
.all-form{margin-left:5px}
.form{padding-left:0}
.sub{margin-left:42px;margin-top:23px;width:116px}
.in{padding-top:5px;width:190px;height:60px}
}
@media screen and (min-width:250px) and (max-width:350px){
.all-form{margin-left:5px}
.form{padding-left:0}
.sub{margin-left:58px;margin-top:23px;width:116px}
.in{padding-top:5px;width:260px;height:60px}
}
@media screen and (min-width:350px) and (max-width:400px){
.all-form{margin-left:5px}
.form{padding-left:0}
.sub{margin-left:100px;margin-top:23px;width:116px}
.in{padding-top:5px;width:357px;height:60px}
}
@media screen and (min-width:400px) and (max-width:450px){
.all-form{margin-left:5px}
.form{padding-left:0}
.sub{margin-left:100px;margin-top:23px;width:116px}
.in{padding-top:5px;width:377px;height:60px}
}