.nav2{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 30px;
    border:1px solid rgba(255, 255, 255, 0.438);
    background-color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.808) 20% ,rgba(12, 12, 12, 0.795) 40%);
}
.info{
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: auto;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.445);
    border-radius: 40px;
    display: flex;
    background-color: black;
    background:radial-gradient(rgba(117, 117, 117, 0.541) 10%, black 90%);
    display: flex;
}
.fl-vl{
    display: none;
}
.fl{
    float: right;
    margin-top: 150px;
    margin-left: 190px;
    font-size: 20px;
}
.img{
    float: left;
    height: 390px;
    width: 390px;
    margin-top: 100px;
    margin-left: -760px;
    border: 10px groove rgb(255, 115, 0);
    border-radius: 30%;
    border-top-width:0px;
    border-right-width:0px;
    border-left-width:0px;
}
.h1{
    padding-left: 550px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.842);
    text-shadow: 5px 5px 5px rgb(15, 15, 15);
}
.vl {
    margin-top: 150px;
    border-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.829) , rgba(255, 0, 212, 0.596) )1 100%;
    height: 300px;
    width: 1px;
    margin-left: 220px;
}
.vl-2{
    display: none;
    margin-top: 3px;
    padding-top: 10px;
    border-width: 3px;
    border-right-width: 0px;
    border-style: solid;
    border-radius: 0;
    border-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.829) , rgba(255, 0, 212, 0.596) )1 100%;
    height: 2px;
    width: 14rem;
    margin-left: 4px;
    box-shadow: 4px 0px 5px rgb(19, 19, 19);
}
@media screen and (min-width:100px) and (max-width:250px) {
    .info{ 
      display: block;
      height: 800px;
    }
    .img{
        height: 264px;
      width: 267px;
      margin-top: 5px;
      margin-left: 3px;
    }
    .vl{
        display: block;
        margin-left: 181px;
    }
    .h1{
        margin-left: -560px;
        font-size: 30px;
    }.fl{
        margin-top: -100px;
        margin-left: -50px;
        font-size: 14px;
    }
  }
@media screen and (min-width:250px) and (max-width:350px) {
    .info{ 
      display: block;
      height: 800px;
    }
    .img{
        height: 290px;
        width: 290px;
        margin-top: 5px;
        margin-left: 3px;
    }
    .vl{
        display: block;
    }
    .h1{
        margin-left: -537px;
        font-size: 30px;
    }.fl{
        margin-top: -100px;
        margin-left: -50px;
        font-size: 16px;
    }
  }
  @media screen and (min-width:350px) and (max-width:400px) {
    .info{ 
      display: block;
      height: 800px;
    }
    .img{
        height: 290px;
        width: 290px;
        margin-top: 5px;
        margin-left: 3px;
    }
    .vl{
        display: block;
        margin-top: 394px;
        border-width: 1px;
        border-top-width: 0px;
        border-style: solid;
        border-radius: 0;
        border-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.829) , rgba(255, 0, 212, 0.596) )1 100%;
        height: 215px;
        width: 14rem;
        margin-left: 45px;
    }
    .h1{
        margin-left: -520px;
        font-size: 28px;
        display:flex;
    }.fl{
        margin-top: -255px;
        margin-left: 77px;
        margin-right: 100px;
        font-size: 16px;
    }
}  
  @media screen and (min-width:400px) and (max-width:430px) {
    .info{ 
      display: block;
      height: 800px;
    }
    .img{
        height: 290px;
        width: 290px;
        margin-top: 5px;
        margin-left: 20px;
    }
    .vl{
        display: block;
        margin-top: 394px;
        border-width: 1px;
        border-top-width: 0px;
        border-style: solid;
        border-radius: 0;
        border-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.829) , rgba(255, 0, 212, 0.596) )1 100%;
        height: 215px;
        width: 14rem;
        margin-left: 45px;
    }
    .h1{
        margin-left: -520px;
        margin-top: -101px;
        font-size: 30px;
    }.fl{
        margin-top: -255px;
        margin-left: 77px;
        margin-right: 100px;
        font-size: 16px;
    }.fl-vl{
        margin-left:10px;
    }
    .vl-2{
        display: block;
        margin-top: 37px;
        padding-top: 45px;
        border-width: 4px;
        border-right-width: 0px;
        border-style: solid;
        border-radius: 0;
        border-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.829) , rgba(255, 0, 212, 0.596) )1 100%;
        height: 91px;
        width: 0rem;
        margin-left: 15px;
        box-shadow: 4px 0px 5px rgb(19, 19, 19);
    }
  }
  @media screen and (min-width:430px) and (max-width:990px) {
    .info{ 
      display: block;
      height: 800px;
    }
    .img{
        height: 280px;
        width: 280px;
        margin-top: 30px;
        margin-left: 40px;
    }
    .vl{
        display: block;
        margin-top: 384px;
        border-width: 1px;
        border-top-width: 0px;
        border-style: solid;
        border-radius: 0;
        border-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.829) , rgba(255, 0, 212, 0.596) )1 100%;
        height: 215px;
        width: 48vw;
        margin-left: 20vw;
    }
    .h1{
        margin-left: -520px;
        margin-top: -101px;
        font-size: 30px;
        width: auto;
    }.fl{
        margin-top: -235px;
        margin-left: 20vw;
        margin-right: 37vw;
        font-size: 16px;
    }.fl-vl{
        margin-left:10px;
    }
    .vl-2{
        display: block;
        margin-top: 37px;
        padding-top: 45px;
        border-width: 4px;
        border-right-width: 0px;
        border-style: solid;
        border-radius: 0;
        border-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.829) , rgba(255, 0, 212, 0.596) )1 100%;
        height: 91px;
        width: 0rem;
        margin-left: 15px;
        box-shadow: 4px 0px 5px rgb(19, 19, 19);
    }
  }
  /*@media screen and (min-width:450px) and (max-width:500px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }
  @media screen and (min-width:500px) and (max-width:520px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }
  @media screen and (min-width:520px) and (max-width:600px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }
  @media screen and (min-width:600px) and (max-width:700px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }
  @media screen and (min-width:700px) and (max-width:800px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }
  @media screen and (min-width:800px) and (max-width:900px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }
  @media screen and (min-width:900px) and (max-width:1000px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }
  @media screen and (min-width:1000px) and (max-width:1200px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }
  @media screen and (min-width:1200px) and (max-width:1900px) {
    .info{ 
        display: block;
      }
      .img{
          margin-left: 20px;
      }
      .vl{
          display: block;
      }
      .h1{
          margin-left: 20px;
      }
  }*/
.body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 1% ,rgb(92, 92, 92) 100% );
    height: auto;
}
.main{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-top-width: 0px;
    border-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.062) ,rgb(255, 255, 255) );
    box-shadow: rgb(0, 0, 0);
    height: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.062) 0%, rgb(0, 0, 0) 100% );
}
.box{
    padding-top: 20px;
    border-radius: 20px;
}
.footer{
    font-size: 18px;
    margin-top:300px ;
    color: white;
    background-image:radial-gradient(rgba(0, 0, 0, 0.637) 1%,rgba(0, 0, 0, 0.678) 10%, black 100%);
    height: 400px;
}
a.fo{
    color: white;
    font-size: 20px;
}
a.fo:hover{
    color: rgb(74, 74, 255);
}
.ft-2{
    padding-top: 80px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #000000;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    position: fixed;
    width: 5px;
    height: 1px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    border-radius: 50px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 ,255 ,255);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}
.form{
    color:white;
    padding: 10px;
    padding-left: 350px;
}
.sub{
    margin-left: 245px;
    margin-top: 20px;
    width: 200px;
}
.in{
    padding-top: 5px;
    width: 700px;
    height: 60px;
}
.lbl{
    padding-top: 10px;
}
.op{
    margin-top: 10px;
}
@media screen and (min-width:200px) and (max-width:250px) {
    .all-form{
        margin-left: 5px;
    }
    .form {
        padding-left: 0px;
    }
    .sub {
        margin-left: 42px;
        margin-top: 23px;
        width: 116px;
    }
    .in {
        padding-top: 5px;
        width: 190px;
        height: 60px;
    }
  }
  @media screen and (min-width:250px) and (max-width:350px) {
    .all-form{
        margin-left: 5px;
    }
    .form {
        padding-left: 0px;
    }
    .sub {
        margin-left: 58px;
        margin-top: 23px;
        width: 116px;
    }
    .in {
        padding-top: 5px;
        width: 260px;
        height: 60px;
    }
  }
@media screen and (min-width:350px) and (max-width:990px) {
    .all-form{
        margin-left: 5px;
    }
    .form {
        padding-left: 0px;
    }
    .sub {
        margin-left: 100px;
        margin-top: 23px;
        width: 116px;
    }
    .in {
        padding-top: 5px;
        width: 100%;
        height: 60px;
    }
  }
